.container {
    background-color: black;
    border: solid red 2px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.col-md-6 {
    border: solid red 5px;
}

.form-control {
    height: 70px;
    font-size: 25px;
    margin: 5px;
}