.container {
    background-color: #0db955;
    border: solid rgb(70, 68, 66) 2px;
    height: 100%;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input#result {
    height: 90px;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
}

.calculator-key {
    padding: 0;
    border: solid 2px;
    /*
border-solid 2px;
    */
}

input.form-control {
    height: 60px;
    font-size: 20px;
    font-style: italic;
}

.col-md-3:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}